.edit-title {
  display: flex;
  margin: 16px;
  .form-group {
    width: 100%;
  }
}

.edit-title h4 {
  width: 342px;
  text-align: right;
}

.submit-edit {
  text-align: center;
  margin-top: 24px;
}

.add-measurements {
  width: 100%;
  text-align: center;
}

.add-measurements {
  width: 100%;
  text-align: center;
}

.add-measurements-c {
  text-align: center;
  margin-top: 8px;
}
