.title {
  border-bottom: solid black 1px;
  padding-top: 20px;
}

.descsection {
  margin-bottom: 20px;
}

.descontent {
  background-color: rgba(187, 187, 187, 0.1);
  box-shadow: 0px 0px 14px rgba(149, 149, 149, 0.1);
  border-radius: 4px;
  padding: 20px;
}

.listdim {
  background-color: rgba(187, 187, 187, 0.1);
  box-shadow: 0px 0px 14px rgba(149, 149, 149, 0.1);
  border-radius: 4px;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 20px;
  li {
    list-style-type: none;
  }
}

.dimensions ul li {
  list-style-type: none;
  padding-left: 2em;
  text-indent: -2em;
  margin-bottom: 10px;
}

.carousel-inner {
  width: 100%;
  min-height: 500px;
  max-height: 600px;
  box-shadow: 0px 0px 14px rgba(149, 149, 149, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  .imgs {
    width: 100%;
    min-height: 500px;
    max-height: 100%;
  }
}

.img-project-show {
  position: relative;
  width: 100%;
  max-height: 600px;
  min-height: 500px;
  box-shadow: 0px 0px 14px rgba(149, 149, 149, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
  .imgs {
    width: 100%;
    min-height: 500px;
    max-height: 100%;
  }
  .tags {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
