<% if current_user == @user%>
  <%= render "users/current_helper" %>
<% else %>
  <%= render "users/helper_card" %>
  <%= render "reviews/show" %>
  <div class="container">
    <%= render "reviews/new" %>
    <button type="button" onclick="document.getElementById('review-form').style.display='block'; this.style.visibility='hidden';", class="btn btn-primary my-2">Add a review</button>
  </div>
<% end %>
