<div class="footer">
  <div class="location">
    <h4 class="mb-0">Location</h4>
    <div class="location-p">
      <p>5333 ave Casgrain <br>
        Montréal, Canada <br>
        H2T 1X3</p>
    </div>
  </div>
  <div class="contact">
    <h4 class="mb-0">Contact us</h4>
    <div class="contact-p">
      <p>help@Helper.com <br>
        514-555-5555</p>
    </div>
  </div>
  <div class="follow">
    <div class="follow-block">
      <h4 class="mb-0">Follow us</h4>
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="newsletter">
    <h4 class="mb-0">Newsletter</h4>
    <div class="newsletter-form">
      <form action="">
        <input type="text", placeholder="Email address", class="rounded mb-1">
        <input type="submit", value="Submit", class="btn btn-primary btn-sm">
      </form>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="footer-title">
      <h2 class="footer-h">Helper<i class="fas fa-wrench"></i></h1>
    </div>
    <p>© Copyright 2020 Helpers, All Rights Reserved.</p>
  </div>
</div>
