<div class="footer">
  <div class="container">
    <div class="footer-up">
    <div class="info-footer">
      <i class="fas fa-envelope" id='envelope-footer'></i>
        <a href="Email:help@helper.com">help@helper.com</a>
      <i class="fas fa-phone"></i>
        <a href="Tel:1-514-555-5555">1-514-555-5555</a>
      </div>
      <p class="legal-footer">© Copyright 2020 Helpers, All Rights Reserved.</p>
    </div>
  </div>
</div>
