<div class="box-home">
  <div class="home-container">
    <div class="content text-center px-2">
      <h1>Bring your project to life</h1>
      <p>Helper lets you book reviewed helpers from a wide variety of professional trade backgrounds to get any project done!<br>
        It's the best way to get fast and reliable service at reasonable prices.</p>
    </div>
    <div class="content-btn">
      <div class="btn-project text-center">
        <%= link_to "Get Help", new_user_registration_path, class: "home-btn btn btn-primary" %>
      </div>
      <div class="btn-project text-center">
        <%= link_to "Become a helper", new_user_registration_path({type: "helper"}), class: "home-btn btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
