<div class="box-home">
  <div class="home-container">
    <div class="img mx-4">
    </div>
    <div class="content text-center px-2">
      <h1>We are Helper</h1>
      <h2>How can we help you?</h2>
      <p>Helper lets you book reviewed handymen to get your project done!<br>
        It's the best way to get fast and reliable service at reasonable prices.<br>
        Let our Helpers help you in 3 easy steps!</p>
      <div class="sign-up">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/771244-200.png" alt="">
        <h3>Sign up!</h3>
      </div>
      <div class="sign-up text-center">
        <img src="http://cdn.onlinewebfonts.com/svg/img_359479.png" alt="">
        <h3>Create your project</h3>
      </div>
      <div class="sign-up text-center">
        <img src="https://cdn4.iconfinder.com/data/icons/alphabet-3/500/ABC_alphabet_letter_font_graphic_language_text_H-512.png" alt="">
        <h3>A helper will contact you</h3>
      </div>
      <div class="btn-project text-center">
        <%= link_to "Get started", new_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
