<% @projects.each do |project| %>
<h1> <%= link_to project.title, project_path(project) %> </h1>
 <p> <%= project.description %> </p>
 <img src="" alt="">

 <% project.tags.each do |tag| %>
    <li class="li-tags"><%= tag.name.capitalize %></li>
  <% end %>
<% end %>
