<h1> <%= @project.title %> </h1>

<p> <%= @project.description %>  </p>

<ul> <% @project.measurements.each do |measurement| %>
  <li> <%= measurement["name"] %>: <%= measurement["dimension"] %> </li>
<% end %>
</ul>

