.footer {
 background: #fafafa;
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 150px;
 padding: 0px 50px;
 color: rgba(0,0,0,0.3);
 border-top: solid lightgray 1px;
 p {
  color: black;
 }
 h4 {
  color: #07689f;
 }
}
.footer-links {
 display: flex;
 align-items: center;
}
.footer-links a {
 color: black;
 opacity: 0.15;
 text-decoration: none;
 font-size: 24px;
 padding: 0px 10px;
}
.footer-links a:hover {
 opacity: 1;
}
.footer .fa-heart {
 color: #D23333;
}

.follow {
 height: 150px;
 text-align: center;
 display: flex;
 align-items: center;
}

.follow-bloc {
 display: block;
}

.footer-h {
 font-size: 60px;
 font-family: 'Lobster', cursive;
 color: #07689f;
}

.footer-title {
 display: flex;
 align-items: center;
}

.footer p {
 color: black;
}
