.footer {
 clear: both; //prevents floating elements from right/left of footer
 z-index: 1; //z-index positions elements in front or behind eachother, most have a //natual z-index of -1
 width: 100%;
 position: absolute;
 bottom: 0;
 right: 0;
 background: #fafafa;
 color: rgba(0, 0, 0, 0.3);
 border-top: solid lightgray 1px;
 text-align: center;
 display: flex;
 align-items: flex-start;
 justify-content: space-between;
 padding: 0px 50px;
 padding-top: 50px;
 p {
  color: black;
 }
 h4 {
  color: #07689f;
 }
}

.footer-links {
 display: flex;
 align-items: center;
}

.footer-links a {
 color: black;
 opacity: 0.15;
 text-decoration: none;
 font-size: 24px;
 padding: 0px 10px;
}

.footer-links a:hover {
 opacity: 1;
}

.follow-bloc {
 display: block;
}

.footer-h {
 font-size: 60px;
 font-family: "Lobster", cursive;
 color: #07689f;
}

.footer-title {
 margin-bottom: 20px;
}

.location {
 height: 80%;
}

.contact {
 height: 80%;
}

.follow {
 height: 80%;
 text-align: center;
 display: flex;
 align-items: center;
}

.newsletter {
 height: 80%;
}

.footer-copyright {
 margin-top: -20px;
}

