.select2-selection {
  border: solid #BCBABA 1px !important;
  border-radius: 4px;
  box-shadow: 0px 3px 15px rgba(149, 149, 149, 0.1);
}

.form-control {
  border: solid #BCBABA 1 px!important;
  border-radius: 4px;
  box-shadow: 0px 3px 15px rgba(149, 149, 149, 0.1);
}

#review-form {
 display: none;
}

.editing-title {
  border-bottom: solid black 1px;
  margin-bottom: 20px;
}

.editing-title-2 {
  border-bottom: solid black 1px;
  margin-bottom: 20px;
  width: 800px;
}