.select2-selection {
  border: solid #BCBABA !important;
  border-radius: 5px;
  box-shadow: 0px 0px 14px rgba(149, 149, 149, .3);
}

.form-control {
  border: solid #BCBABA !important;
  border-radius: 5px;
  box-shadow: 0px 0px 14px rgba(149, 149, 149, .3);

#review-form {
 display: none;
}