.navbar {
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  opacity: 100%;
  transition: 0.5s background-color ease;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

#nav-a {
  color: #07689f;
}

#nav-img {
  height: 65px;
  width: 65px;
}

.navbar-h {
  font-size: 40px;
  font-family: "Lobster", cursive;
  color: #07689f;
 }

 .navbar-lewagon-white {
  background-color: white;
}
