.select2-selection__choice {
  background-color: #07689f !important;
  color: white;
  padding: 5px !important;
  padding-right: 10px !important;
}

.li-tags {
  background-color: #07689f;
  margin-left: 5px;
  padding: 5px;
  color: whitesmoke;
  border-radius: 5px;
}

.tags {
  margin-bottom: 20px;
  li {
    list-style-type: none;
  }
}
