// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/user_show";
@import "pages/home";
@import "pages/helper_index";
@import "pages/project_show";
@import "pages/proposal_show";
@import "pages/project_new";
@import "pages/project_edit";
@import "pages/helper_show";

